body {
  background: maroon;
}

.container {
  max-width: 400px;
}

input[type="text"],
input[type="text"]:focus {
  color: white;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
  background: rgb(165, 19, 19);
}

.delete {
  cursor: pointer;
}
